---
import type {SocialMedia} from '../../interfaces/communities'
import SocialMediaIcon from './SocialMediaIcon.astro'

interface Props{
    url: string,
    title: string,
    subtitle?: string,
    socialMedia?: SocialMedia[]
} 


const photoLink = "https://www.perfocal.com/blog/content/images/2021/01/Perfocal_17-11-2019_TYWFAQ_100_standard-3.jpg"
const {url, title, subtitle, socialMedia} = Astro.props
---
<div class="flex flex-col items-center">
    <img
        src={photoLink}
        width={150}
        height={150}
        class=" rounded-full aspect-square object-cover bg-slate-700"
    />
    <h4 class="font-bold text-center text-xl text-slate-700">{title}</h4>
    <p class="text-center text-slate-600">{subtitle}</p>
    <div>
        {socialMedia?.map(({socialMediaPlatform, url}:SocialMedia) => (
            <SocialMediaIcon socialMedia={socialMediaPlatform} url={url}/>
        ))}
    </div>

    <!-- Añadir los otros detalles: -->
</div>